@athletics-color: blue;
@light-gray: #BBB;
@dark-gray:	#999;
@inner-margins: 10px;
@outer-margins: 30px;

body {
	width: 100%;
	font-family: "Helvetica", Helvetica, sans-serif;
	//background-color: #f5f5eb;
	border-top: 5px solid #000;
}
table.page-wrapper {
	width: 100%;
}

table.outer-wrapper {
	width: 600px;
}

.header {
	font-size: 18px;
	text-align: center;
	padding: 20px 0px;
	color: @dark-gray;
	.mark {
		background: url('../img/athletics_a.png') no-repeat center center;
		background-size: contain;
		height: 40px;
		width: 40px;
		margin-bottom: @outer-margins;
		margin: 0 auto;
	}
	.date {
		font-size: 14px;
		margin: 10px 0px 10px 0px;
		color: @dark-gray;
	}
	.header-img {
		margin: 0 auto;
		img {
			margin: 0px 0px @inner-margins 0px;
			width: auto;
			max-width: 100%;
		}
	}
	p {
		font-size: 18px;
		color: #000;
		margin: 0px 0px 0px 0px;
	}
}

.story {
	margin: 0px 0px;
	font-size: 14px;
	line-height: 1.6em;
	padding: @outer-margins 0px @outer-margins 0px;
	color: #000;
	.slug {
		color: @dark-gray;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 11px;
		margin: 0px 0px 0px 0px;
		display: block;
	}
	.title {
		h2 {
			font-size: 18px;
			margin: 0px 0px @inner-margins 0px;
			line-height: 1.4em;
			//font-weight: normal;
		}
	}
	.img {
		line-height: 0em;
		img {
			border: 0px;
			margin: 0px 0px @inner-margins 0px;
			line-height: 0em;
			width: 100%;
		}
	}
	.content {
		font-size: 14px;
		line-height: 1.6em;
		h3 {
			font-size: 14px;
			//font-weight: normal;
			margin: @inner-margins 0px 0px 0px;
		}
		p {
			margin: 0px 0px 20px 0px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		ul {
			margin: @inner-margins 0px 0px 0px;
			list-style-type: circle;
			li {
				margin: @inner-margins 0px 0px 0px;
			}
		}
		a {
			color: @athletics-color;
			text-decoration: none;
			&:hover {
				color: @athletics-color;
				text-decoration: underline;
			}
		}
	}
}

.divide {
	text-align: center;
	ul {
		display: inline;
		margin: 0;
		padding: 0px;
		li {
			display: inline-block;
			text-align: center;
			padding: 0px 5px;
			.x {
			    height: 3px;
			    width: 3px;
			    border-radius: 3px;
			    text-align: center;
			}
			.x:after {
			    position: relative;
			    content:"\d7";
			    font-size: 18px;
			    color: @light-gray;
			    font-weight: bold;
			    top: -1px;
			    left: 0px
			}
		}
	}
}

.footer {
	width: 100%;
	text-align: center;
	margin: @outer-margins 0px;
	font-size: 18px;
	ul {
		padding: 0px;
		margin:  @outer-margins 0px 0px 0px;
		display: inline-block;
		&.address {
			display: block;
			line-height: 1.4em;
			color: @light-gray;
			font-size: 14px;
			li {
				display: block;
			}
		}
		li {
			display: inline;
		}
	}
	a {
		color: @dark-gray;
		padding: 0px 10px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
			color: @athletics-color;
		}
	}
	.unsubscribe {
		a {
			font-size: 11px;
		}
	}
}



