
{% block title %}

{% endblock %}

{% include 'css.twig' %}

{% block body %}

	<div class="index">
		<h1>Athletics Mail Chimp </h1>		
		<ul>
			<li>
				<a href="template-1">Template 1</a>
			</li>
		</ul>
	</div>
	
{% endblock %}

