{% extends "base.twig" %}

{% block title %}
	Athletics Template 1
{% endblock %}

{% block body %}

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
	<center>
		<table class="page-wrapper" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td>        
						<table class="outer-wrapper" border="0" align="center" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>


										<div class="header">
											<a href="http://athleticsnyc.com" target="_blank">
												<div class="mark"></div>
											</a>
											<div class="date">
												Thursday, October 9, 2014
											</div>

											<div class="header-img">
												<img src="assets/img/home_multi4.gif">
											</div>
											<p>
												You’re reading Athletics ETC, a roundup of digital ephemera, bits & bobs.
											</p>
										</div>

										<div class="divide">

												<ul>
													<li>
														<div class="x"></div>
													</li>
													<li>
														<div class="x"></div>
													</li>
													<li>
														<div class="x"></div>
													</li>
												</ul>

											</div>


									</td>
								</tr>
								<tr>
									<td>


										{% for story in stories %}
											<div class="story" >

													{% if story.slug == null %}

													{% else %}

														<span class="slug">
															{{ story.slug|raw }}
														</span>

													{% endif %}

													<div class="title">
														<h2>
															{{ story.title|raw }}
														</h2>
													</div>

													{% if story.img == null %}

													{% else %}

														<div class="img">
															<img src="{{ story.img }}">
														</div>

													{% endif %}

													{% for content in story.content %}

														<div class="content">
															{{ content|raw }}
														</div>

													{% endfor %}


											</div>
											<div class="divide">

												<ul>
													<li>
														<div class="x"></div>
													</li>
													<li>
														<div class="x"></div>
													</li>
													<li>
														<div class="x"></div>
													</li>
												</ul>

											</div>

										{% endfor %}


									</td>
								</tr>
								<tr>
									<td>


										<div class="footer">
											<ul>
												<li>
													<a href="http://athleticsnyc.com" target="_blank">
														Athletics
													</a>
												</li>
												<li>
													<a href="https://twitter.com/athleticsnyc" target="_blank">
														Twitter
													</a>
												</li>
												<li>
													<a href="https://www.facebook.com/athleticsnyc" target="_blank">
														Facebook
													</a>
												</li>
												<li>
													<a href="https://vimeo.com/athletics" target="_blank">
														Vimeo
													</a>
												</li>
											</ul>
											
											<div class="copy-address">
												<ul class="address">
													<li>
														Theory/Practice
													</li>
													<li>
														© 2014 Athletcs LLC
													</li>
													<li>
														210 North 6th Street Brooklyn, NY 11211
													</li>
												</ul>
											</div>
											<div class="unsubscribe">
												<ul>
													<li>
														<a href="*|UNSUB|*" target="_blank">
															Unsubscribe
														</a>
													</li>
												</ul>
											</div>
										</div>



									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</body>



{% endblock %}