{% extends "base.twig" %}

{% block title %}
	Athletics Template 1
{% endblock %}

{% block body %}




<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
	<center>
		<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
			<tr>
				<td align="center" valign="top" id="bodyCell">
				
				<!-- BEGIN TEMPLATE // -->
					<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">

						<tr>
							<td align="center" valign="top">
								<!-- BEGIN PREHEADER // -->
								<table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
									<tr>
										<td valign="top" class="preheaderContainer">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
												<tbody class="mcnImageBlockOuter">
													<tr>
														<td valign="top" style="padding:9px" class="mcnImageBlockInner">
															<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
																<tbody>
																	<tr>
																		<td class="mcnImageContent" valign="top" >
																			<img align="center" alt="" src="https://gallery.mailchimp.com/4c86a6600076aa624060b2ad4/images/241b20c3-1ebf-417d-8b3b-4b9e091100e1.png" width="30" style="max-width:30px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
												<tbody class="mcnImageBlockOuter">
													<tr>
														<td valign="top" style="padding:9px" class="mcnImageBlockInner">
															<table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
																<tbody>
																	<tr>
																		<td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
																			<img align="left" alt="" src="https://gallery.mailchimp.com/4c86a6600076aa624060b2ad4/images/dab60fd9-a8e5-4548-99de-59484e81ca28.jpg" width="564" style="max-width:800px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
								<!-- // END PREHEADER -->
							</td>
						</tr>


						<tr>
							<td align="center" valign="top">
								<!-- BEGIN HEADER // -->
								<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
									<tr>
										<td valign="top" class="headerContainer">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td valign="top" class="mcnTextBlockInner">			
															<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
																<tbody>
																	<tr>
																		<td valign="top" class="mcnTextContent" style="padding: 9px 18px; font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-weight: normal; line-height: 150%; text-align: left;">
																			<span style="font-size:18px">
																				<span style="font-family:arial,helvetica neue,helvetica,sans-serif">
																					<u><strong>Athletics</strong></u>
																					<br>
																					<span style="color:#A9A9A9">
																						Tuesday, October 20th 2014
																					</span>
																					<br>
																					<br>
																					Here's a bit about what we've been up to!
																				</span>
																			</span>
																		</td>
																	</tr>
																</tbody>
															</table>	
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
							<!-- // END HEADER -->
							</td>
						</tr>


						<tr>
							<td align="center" valign="top">
								<!-- BEGIN BODY // -->
								<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
									<tr>
										<td valign="top" class="bodyContainer">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
												<tbody class="mcnDividerBlockOuter">
													<tr>
														<td class="mcnDividerBlockInner" style="padding: 18px;">
															<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
																<tbody>
																	<tr>
																		<td>
																			<span>
																				
																			</span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
												<tbody class="mcnCaptionBlockOuter">
													<tr>
														<td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
															<table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
																<tbody>
																	<tr>
																		<td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;">
																			<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
																				<tbody>
																					<tr>
																						<td class="mcnCaptionRightImageContent" valign="top">
																							<img alt="" src="https://gallery.mailchimp.com/4c86a6600076aa624060b2ad4/images/7036d71a-99b8-4300-b94e-d51d697debb3.jpg" width="132" style="max-width:600px;" class="mcnImage">					
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			<table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396">
																				<tbody>
																					<tr>
																						<td valign="top" class="mcnTextContent" style="color: #000000;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size: 18px;font-style: normal;font-weight: normal;line-height: 125%;text-align: left;">
																							We are excited to announce our rebrand of Major League Soccer.&nbsp;The identity needed to reflect the growing love for soccer in North America, and be a mark that both teams and fans could adopt, and make their own.&nbsp;
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>

											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
												<tbody class="mcnCaptionBlockOuter">
													<tr>
														<td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
															<table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
																<tbody>
																	<tr>
																		<td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;">
																			<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
																				<tbody>
																					<tr>
																						<td class="mcnCaptionRightImageContent" valign="top">
																							<img alt="" src="https://gallery.mailchimp.com/4c86a6600076aa624060b2ad4/images/197cbdda-4d70-4e9f-a2c7-c4908ff49130.jpg" width="132" style="max-width:900px;" class="mcnImage">
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			<table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396">
																				<tbody>
																					<tr>
																						<td valign="top" class="mcnTextContent" style="color: #000000;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size: 18px;font-style: normal;font-weight: normal;line-height: 125%;text-align: left;">
																							Say hello to StartUp - <a data-expanded-url="http://bit.ly/1uoOz3p" dir="ltr" href="http://t.co/0W7DETNt2c" rel="nofollow" target="_blank" title="http://bit.ly/1uoOz3p">http://bit.ly/1uoOz3p&nbsp;</a> - a new podcast series from the minds of <a dir="ltr" href="https://twitter.com/abexlumberg">@abexlumberg</a> &amp; <a dir="ltr" href="https://twitter.com/mlieber">@mlieber</a>. Keep up <a dir="ltr" href="https://twitter.com/podcaststartup">@podcaststartup</a>.
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnCaptionBlock">
												<tbody class="mcnCaptionBlockOuter">
													<tr>
														<td class="mcnCaptionBlockInner" valign="top" style="padding:9px;">
															<table border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightContentOuter" width="100%">
																<tbody>
																	<tr>
																		<td valign="top" class="mcnCaptionRightContentInner" style="padding:0 9px ;">
																			<table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnCaptionRightImageContentContainer">
																				<tbody>
																					<tr>
																						<td class="mcnCaptionRightImageContent" valign="top">
																							<img alt="" src="https://gallery.mailchimp.com/4c86a6600076aa624060b2ad4/images/f15a468a-93bb-4e3a-8c18-525210b96267.jpg" width="132" style="max-width:600px;" class="mcnImage">
																						</td>
																					</tr>
																				</tbody>
																			</table>
																			<table class="mcnCaptionRightTextContentContainer" align="right" border="0" cellpadding="0" cellspacing="0" width="396">
																				<tbody>
																					<tr>
																						<td valign="top" class="mcnTextContent" style="color: #000000;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size: 18px;font-style: normal;font-weight: normal;line-height: 125%;text-align: left;">
																							<span style="color: #0A0A0A;font-family: helvetica,arial,sans-serif;font-size: 19px;line-height: 24px;">
																								We were honored to speak at Adobe’s XD Week on the subject of creativity. For the event we created a system of 150 different custom signature posters for all the attendees. A selection of the posters we created can be found on the&nbsp;
																							</span>
																							<a href="https://www.behance.net/gallery/19349085/Adobe-XD-Athletics-Signature-Series" style="box-sizing: border-box; outline: none; text-decoration: none; display: inline-block; color: black; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: transparent; -webkit-transition: all 0s ease-in-out; transition: all 0s ease-in-out; font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 24px; -webkit-user-select: auto !important;" target="_blank">Adobe XD Behance site</a>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
												<tbody class="mcnDividerBlockOuter">
													<tr>
														<td class="mcnDividerBlockInner" style="padding: 18px;">
															<table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #999999;">
																<tbody>
																	<tr>
																		<td>
																			<span>
																				
																			</span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
								<!-- // END BODY -->
							</td>
						</tr>




						<tr>
							<td align="center" valign="top">
								<!-- BEGIN FOOTER // -->
								<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
									<tr>
										<td valign="top" class="footerContainer" style="padding-bottom:9px;">
											<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
												<tbody class="mcnTextBlockOuter">
													<tr>
														<td valign="top" class="mcnTextBlockInner">
															<table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
																<tbody>
																	<tr>
																		<td valign="top" class="mcnTextContent" style="padding: 9px 18px;color: #000000;">
																			<div style="text-align: center;">
																				<span style="color:#000000">
																					<em>Copyright © All rights reserved.</em>
																					<br>
																					*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*<br>
																					<br>
																					*|DATE:y|*
																				</span>
																				<br>
																				<br>
																				<br>
																				<br>
																				<a class="utilityLink" href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp; <a class="utilityLink" href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;
																			</div>
																		</td>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
								<!-- // END FOOTER -->
							</td>
						</tr>




					</table>
					<!-- // END TEMPLATE -->
				</td>
			</tr>
		</table>
	</center>
</body>




{% endblock %}