<!DOCTYPE html>
<html class="no-js">
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<title>{% block title %}{% endblock %}</title>
		{% endblock %}

		{% include 'css.twig' %}

	</head>
	<body>
	<span class="css-indicator"></span>

		{% include 'header.twig' %}

		{% block body %}{% endblock %}

		{% include 'footer.twig' %}

		{% include 'js_footer.twig' %}

	</body>
	
	
</html>
