{% extends "base.twig" %}

{% block title %}
	Athletics Template 1
{% endblock %}

{% block body %}

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
	<center>
		<table class="page-wrapper" cellpadding="0" cellspacing="0" border="0">
			<tbody>
				<tr>
					<td>        
						<table class="outer-wrapper" border="0" align="center" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>


										<table class="header" border="0" cellspacing="0" cellpadding="0">
											<tbody>
												<tr class="logo">
													<td>
														<table align="center" border="0" cellspacing="0" cellpadding="0">
															<tbody>
																<tr align="center">
																	<td>
																		<div class="mark"></div>
																	</td>
																</tr>
																<tr align="center" class="date">
																	<td>
																		Thursday, October 9, 2014
																	</td>
																</tr>
																<tr align="center" class="header-img">
																	<td>
																		<img src="assets/img/test-image.jpg">
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>


										{% for story in stories %}

											<table class="story" align="center" border="0" cellpadding="0" cellspacing="0">
												<tbody>

													<tr class="to-athletics">
														<td>
															<h2>
																<a href="#">
																	{{ story.title }}
																</a>
															</h2>
														</td>
													</tr>

													{% if story.img == null %}

													{% else %}

														<tr class="img">
															<td>
																<img src="{{ story.img }}">
															</td>
														</tr>

													{% endif %}

													{% for content in story.content %}

													<tr class="content">
														<td>
															{{ content|raw }}
														</td>
													</tr>

													{% endfor %}

												</tbody>
											</table>

										{% endfor %}

										<table border="0" class="footer" cellspacing="0" cellpadding="0">
											<tbody>
												<tr align="center">
													<td >
														<a href="#" target="_blank">
															Athletics
														</a>
														<a href="#" target="_blank">
															Twitter
														</a>
														<a href="#" target="_blank">
															Facebook
														</a>
													</td>
												</tr>
												<tr class="unsubscribe" align="center">
													<td>
														<a href="#" target="_blank">
															Unsubscribe
														</a>
													</td>
												</tr>
												<tr class="copy-address" align="center">
													<td>
														© 2014 Athletcs LLC. 210 North 6th Street Brooklyn, NY 11211
													</td>
												</tr>
											</tbody>
								
										</table>

									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</center>
</body>



{% endblock %}