<IfModule mod_rewrite.c>
	Options -MultiViews

	RewriteEngine On
	
	# Uncomment for subdirectory install
	RewriteBase /athletics-mailchimp/webroot
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [QSA,L]
</IfModule>